h2{
    font-family: Arial, Helvetica, sans-serif
}
.darkcolor{
    background-color: rgb(219, 155, 165) !important;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
a{
    color: rgb(219, 155, 165) 
}
.text-primary{
    color: rgb(219, 155, 165) !important
}
   